body{
  background-color: grey;
}
.App {
  text-align: center;
}

button{
  background-color: rgb(21, 72, 166);
  border: 2px solid lightblue;
  border-radius: 5px;
  margin-left: 10px;
  color:black;
  padding: 10px;
}

.selected{
  background-color: red;
}
.correct{
  background-color: green
}

.next{
  background-color: yellowgreen;
  margin-top: 20px;
}
