body{
  background: #9F7FFF;
  display: flex;
  justify-content: center;
  text-align: center;

}
.App {
  text-align: center;
  margin-top: 40px;
  padding: 40px;
  border-radius: 15px;
  width: auto;
  background-color: antiquewhite;
}

.quiz,.results{
  display: flex;
  flex-direction: column;
  gap:20px;
  align-items: center;
}

p{
  font-size: medium;
  color: white;
}

button{
  background-color: rgb(21, 72, 166);
  border: 2px solid lightblue;
  border-radius: 25px;
  margin-left: 40px;
  padding: 5px 20px;
}

.incorrect{
  background-color: red;
}
.correct{
  background-color: green
}

.next{
  background-color: blueviolet;
  margin-top: 20px;
}

.difficulty{
  background-color: greenyellow;
  padding: 5px;
  border-radius: 25px;
  width: 150px;
  color: green;
}
